In [21]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix,classification_report
from sklearn.preprocessing import MinMaxScaler
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from imblearn.over_sampling import SMOTE
import warnings
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.naive_bayes import BernoulliNB
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import MultinomialNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from keras.models import Sequential
from keras.layers import Dense,Flatten,Activation

In [22]:
df=pd.read_csv('bankloan.csv')
df=df.dropna()
df.isna().any()
df=df.drop('Loan_ID',axis=1)
df['LoanAmount']=(df['LoanAmount']*1000).astype(int)
Counter(df['Loan_Status'])

Counter({'N': 148, 'Y': 332})

In [23]:
df.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,Male,Yes,1.0,Graduate,No,4583,1508.0,128000,360.0,1.0,Rural,N
2,Male,Yes,0.0,Graduate,Yes,3000,0.0,66000,360.0,1.0,Urban,Y
3,Male,Yes,0.0,Not Graduate,No,2583,2358.0,120000,360.0,1.0,Urban,Y
4,Male,No,0.0,Graduate,No,6000,0.0,141000,360.0,1.0,Urban,Y
5,Male,Yes,2.0,Graduate,Yes,5417,4196.0,267000,360.0,1.0,Urban,Y

In [24]:
pre_y = df['Loan_Status']
pre_x = df.drop('Loan_Status', axis=1)
dm_x = pd.get_dummies(pre_x)
dm_y = pre_y.map(dict(Y=1, N=0))
pre_x.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
1,Male,Yes,1.0,Graduate,No,4583,1508.0,128000,360.0,1.0,Rural
2,Male,Yes,0.0,Graduate,Yes,3000,0.0,66000,360.0,1.0,Urban
3,Male,Yes,0.0,Not Graduate,No,2583,2358.0,120000,360.0,1.0,Urban
4,Male,No,0.0,Graduate,No,6000,0.0,141000,360.0,1.0,Urban
5,Male,Yes,2.0,Graduate,Yes,5417,4196.0,267000,360.0,1.0,Urban

In [25]:
dm_x
dm_x.columns
import pickle
import joblib
filename = 'allcol.pkl'
joblib.dump(dm_x.columns, filename)
dm_x.columns

Index(['Dependents', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Gender_Female', 'Gender_Male',
       'Married_No', 'Married_Yes', 'Education_Graduate',
       'Education_Not Graduate', 'Self_Employed_No', 'Self_Employed_Yes',
       'Property_Area_Rural', 'Property_Area_Semiurban',
       'Property_Area_Urban'],
      dtype='object')

In [26]:
smote = SMOTE(random_state=42)
x1, y = smote.fit_sample(dm_x, dm_y)
sc = MinMaxScaler()
X = sc.fit_transform(x1)
import pickle
import joblib
filename = 'scalers.pkl'
joblib.dump(X, filename)

['scalers.pkl']

In [27]:
Counter(y)

Counter({0: 332, 1: 332})

In [28]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=32, shuffle=True)

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 480 entries, 1 to 613
Data columns (total 12 columns):
Gender               480 non-null object
Married              480 non-null object
Dependents           480 non-null float64
Education            480 non-null object
Self_Employed        480 non-null object
ApplicantIncome      480 non-null int64
CoapplicantIncome    480 non-null float64
LoanAmount           480 non-null int32
Loan_Amount_Term     480 non-null float64
Credit_History       480 non-null float64
Property_Area        480 non-null object
Loan_Status          480 non-null object
dtypes: float64(4), int32(1), int64(1), object(6)
memory usage: 46.9+ KB

In [30]:
#Logistic Regression model
logmodel = LogisticRegression()
logmodel.fit(X_train,y_train)
predictions = logmodel.predict(X_test)
accuracy_score(y_test, predictions)

0.8571428571428571

In [31]:
#Decision Tree Classification model
dtmodel = DecisionTreeClassifier(criterion="gini", random_state=32)
dtmodel.fit(X_train, y_train)
dtpred = dtmodel.predict(X_test)
accuracy_score(y_test, dtpred)

0.8045112781954887

In [32]:
#Support Vector Machine model
svm_model = SVC(kernel='rbf', gamma='auto', C=2)
svm_model.fit(X_train, y_train)
svmpred = svm_model.predict(X_test)
accuracy_score(y_test, svmpred)

0.8571428571428571

In [33]:
#BernoulliNB model
bern_model = BernoulliNB()
bern_model.fit(X_train, y_train)
bernpred = bern_model.predict(X_test)
accuracy_score(y_test, bernpred)

0.7894736842105263

In [34]:
#GaussianNB model
guass_model = GaussianNB()
guass_model.fit(X_train, y_train)
guasspred = guass_model.predict(X_test)
accuracy_score(y_test, guasspred)

0.7293233082706767

In [35]:
#MultinomialNB model
multi_model = MultinomialNB()
multi_model.fit(X_train, y_train)
multipred = multi_model.predict(X_test)
accuracy_score(y_test, multipred)

0.6165413533834586

In [36]:
#KNN model
knn_model = KNeighborsClassifier()
knn_model.fit(X_train, y_train)
knnpred = knn_model.predict(X_test)
accuracy_score(y_test, knnpred)

0.8270676691729323

In [37]:
#RandomForest model
random_model = RandomForestClassifier()
random_model.fit(X_train, y_train)
randompred = random_model.predict(X_test)
accuracy_score(y_test, randompred)

0.849624060150376

In [38]:
#Stochastic Gradient Descent model
sgd_model = SGDClassifier()
sgd_model.fit(X_train, y_train)
sgdpred = sgd_model.predict(X_test)
accuracy_score(y_test, sgdpred)

0.8571428571428571

In [39]:
#Neural Network model
classifier = Sequential()
classifier.add(Dense(200, activation='relu', input_dim = X_test.shape[1]))
classifier.add(Dense(200, activation='relu'))
classifier.add(Dense(2, activation='softmax'))
classifier.compile(optimizer='adam', loss='sparse_categorical_crossentropy', metrics=['accuracy'])
classifier.fit(X_train, y_train, epochs=50, batch_size=25, verbose=0)
eval = classifier.evaluate(X_train, y_train)
eval

531/531 [==============================] - 0s 156us/step

[0.21696266154504315, 0.9133709981167608]

In [40]:
import pickle
import joblib
filename = 'loan_model.pkl'
joblib.dump(classifier, filename)

['loan_model.pkl']